BirdnetEmbeddings/data/*
BirdnetEmbeddings/data/*
BirdnetEmbeddings/data/*
BirdnetEmbeddings/.ipynb_checkpoints/*
BirdnetEmbeddings/embeddings.csv
BirdnetEmbeddings/input/*
BirdnetEmbeddings/output/*
BirdnetEmbeddings/ClusteringModels/*
BirdnetEmbeddings/ClusteringModels/species_specific/*
BirdnetEmbeddings/cosmos_annotations/*
*.wav
*.mp3
*.pyc
