BirdnetEmbeddings/data/*
BirdnetEmbeddings/data/*
BirdnetEmbeddings/data/*
BirdnetEmbeddings/.ipynb_checkpoints/*
BirdnetEmbeddings/embeddings.csv
.DS_Store
BirdnetEmbeddings/mixed_bird_manual.csv
BirdnetEmbeddings/mixed_bird_sample.csv
BirdnetEmbeddings/__pycache__
BirdnetEmbeddings/input/*
BirdnetEmbeddings/cosmos_annotations/*
BirdnetEmbeddings/cosmos_data/*